{% extends 'timetable/base.html' %}
{% load static %}

{% block image_up %}
<div class="intro-section" style="background-image: url({% static 'timetable/images/ferry-crossings.jpg' %});">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-7 mx-auto text-center" data-aos="fade-up">
              <h1>Thank you for subscribing don't forget to check your inbox to confirm your description</h1>

            </div>
          </div>
        </div>
      </div>
{% endblock%}
Thank you for subscribing don't forget to check your inbox to confirm your description

